<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" icon="chevron-back-outline" color="white"></ion-back-button>
    </ion-buttons>
    <ion-title color="white" class="unselectable">Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="parent">
    <div class="child">
      <p><b>Social Media</b></p>
      <div>
        <ion-icon class="instagram" name="logo-instagram"></ion-icon><a
          href="https://instagram.com/foodle.indo?igshid=1i0wgnfghgeym" target="_blank">foodle.indo</a>
      </div>
      <div>
        <ion-icon class="facebook" name="logo-facebook"></ion-icon><a href="https://m.facebook.com/foodle.indo/"
          target="_blank">foodle.indo</a>
      </div>
      <div>
        <ion-icon class="twitter" name="logo-twitter"></ion-icon><a href="https://twitter.com/foodleindo?s=11"
          target="_blank">@FoodleIndo</a>
      </div>
    </div>
    <div class="child">
      <p><b>Untuk Pesanan</b></p>
      <div>
        <ion-icon name="call"></ion-icon>
        <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon><a
          href="//api.whatsapp.com/send?phone=6281281777918&text=Hi!">+62-812-8177-7918</a>
      </div>
    </div>
    <div class="child">
      <p><b>Untuk Umpan Balik / Keluhan</b></p>
      <div>
        <ion-icon name="call"></ion-icon>
        <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon><a
          href="//api.whatsapp.com/send?phone=6281218524393&text=Hi!">+62-812-1852-4393</a>
      </div>
    </div>
    <div class="child">
      <p><b>Untuk Pertanyaan lainnya</b></p>
      <div>
        <ion-icon name="mail"></ion-icon><a href="mailto: customersupport@foodle.id">customersupport@foodle.id</a>
      </div>
    </div>
  </div>
</ion-content>